header#main {
    height: 8rem;

    font-size: 8rem;
    font-weight: 800;
    color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    header#main {
        font-size: 5.8rem;
    }
}