div.message{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5rem;
}

div.message p {
    color: red;

    font-size: 1.4rem;
    font-weight: 600;
    
    padding: 0.6rem;

    border: solid 1px;
    border-color: red;
    border-radius: 1rem;
}

@media (max-width: 600px) {
    div.message {
        margin-left: 1rem;
        margin-right: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}